.icon-Vector-1{
    font-size: 50px;
    color:red;
    list-style: none;
}
.icon-Vector-2{
    font-size: 50px;
    color:yellow;
    list-style: none;

}
.icon-Vector-3{
    font-size: 50px;
    color:greenyellow;
    list-style: none;

}
.icon-Vector-4{
    font-size: 50px;
    color:green;
    list-style: none;

}
.icon-Vector-5{
    font-size: 50px;
    color:aqua;
    list-style: none;

}
.icon-Vector-6{
    font-size: 50px;
    color:pink;
    list-style: none;

}